@import "tailwindcss";

@font-face {
  font-family: "Brogadier";
  src: url("/fonts/Brogadier.eot");
  src: url("/fonts/Brogadier.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Brogadier.woff2") format("woff2"),
    url("/fonts/Brogadier.woff") format("woff"),
    url("/fonts/Brogadier.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham-Black";
  src: url("/fonts/Gotham-Black.eot");
  src: url("/fonts/Gotham-Black.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Gotham-Black.otf") format("opentype"),
    url("/fonts/Gotham-Black.woff2") format("woff2"),
    url("/fonts/Gotham-Black.woff") format("woff"),
    url("/fonts/Gotham-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham-Bold";
  src: url("/fonts/Gotham-Bold.eot");
  src: url("/fonts/Gotham-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Gotham-Bold.otf") format("opentype"),
    url("/fonts/Gotham-Bold.woff2") format("woff2"),
    url("/fonts/Gotham-Bold.woff") format("woff"),
    url("/fonts/Gotham-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham-Book";
  src: url("/fonts/Gotham-Book.eot");
  src: url("/fonts/Gotham-Book.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Gotham-Book.otf") format("opentype"),
    url("/fonts/Gotham-Book.woff2") format("woff2"),
    url("/fonts/Gotham-Book.woff") format("woff"),
    url("/fonts/Gotham-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham-Light";
  src: url("/fonts/Gotham-Light.eot");
  src: url("/fonts/Gotham-Light.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Gotham-Light.otf") format("opentype"),
    url("/fonts/Gotham-Light.woff2") format("woff2"),
    url("/fonts/Gotham-Light.woff") format("woff"),
    url("/fonts/Gotham-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham-LightItalic";
  src: url("/fonts/Gotham-LightItalic.eot");
  src: url("/fonts/Gotham-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Gotham-LightItalic.otf") format("opentype"),
    url("/fonts/Gotham-LightItalic.woff2") format("woff2"),
    url("/fonts/Gotham-LightItalic.woff") format("woff"),
    url("/fonts/Gotham-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gotham-Medium";
  src: url("/fonts/Gotham-Medium.eot");
  src: url("/fonts/Gotham-Medium.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Gotham-Medium.otf") format("opentype"),
    url("/fonts/Gotham-Medium.woff2") format("woff2"),
    url("/fonts/Gotham-Medium.woff") format("woff"),
    url("/fonts/Gotham-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham-MediumItalic";
  src: url("/fonts/Gotham-MediumItalic.eot");
  src: url("/fonts/Gotham-MediumItalic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Gotham-MediumItalic.otf") format("opentype"),
    url("/fonts/Gotham-MediumItalic.woff2") format("woff2"),
    url("/fonts/Gotham-MediumItalic.woff") format("woff"),
    url("/fonts/Gotham-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Killega";
  src: url("/fonts/Killega.eot");
  src: url("/fonts/Killega.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Killega.otf") format("opentype"),
    url("/fonts/Killega.woff2") format("woff2"),
    url("/fonts/Killega.woff") format("woff"),
    url("/fonts/Killega.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kingsbridge-Bold";
  src: url("/fonts/KingsbridgeRg-Bold.eot");
  src: url("/fonts/KingsbridgeRg-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/KingsbridgeRg-Bold.otf") format("opentype"),
    url("/fonts/KingsbridgeRg-Bold.woff2") format("woff2"),
    url("/fonts/KingsbridgeRg-Bold.woff") format("woff"),
    url("/fonts/KingsbridgeRg-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kingsbridge-Regular";
  src: url("/fonts/KingsbridgeBk-Regular.eot");
  src: url("/fonts/KingsbridgeBk-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/KingsbridgeBk-Regular.otf") format("opentype"),
    url("/fonts/KingsbridgeBk-Regular.woff2") format("woff2"),
    url("/fonts/KingsbridgeBk-Regular.woff") format("woff"),
    url("/fonts/KingsbridgeBk-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html,
body {
  /* margin: 0;
  padding: 0; */
  /* height: 100%; */
  /* Removed overflow: hidden */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Gotham-Book";
  max-width: 100%;
  /* min-height: 100vh; */
  overflow-x: hidden;
  font-size: 16px;
}
h1,
h2 {
  font-family: "Brogadier";
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.waves-inner {
  position: relative;
  width: 100%;
  height: 4vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

.scrollednavbg {
  background: linear-gradient(
    360deg,
    rgba(2, 39, 88, 0.5) 0%,
    rgba(17, 27, 31, 0.5) 100%
  );
}

/* Inner page banner */
.innepagenavbg {
  background: #005072;
}

.inner-banner-tab {
  font-size: 30px;
}

.inner-banner-tab.active {
  color: #49dcf8 !important;
}

.active-line {
  background: #008da8;
}

button {
  cursor: pointer;
}
.wave-hover {
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease;
  z-index: 1; /* Ensure button text stays above wave */
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
}

.btn-custom {
  font-family: "gotham-medium";
  font-size: 14px;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  padding: 15px 25px;
}
.para {
  font-family: "gotham-book";
  font-size: 16px;
}
.arrowIcon {
  width: 15px;
  height: 10px;
}

.bubble {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: fixed;
  background-color: white;
  bottom: -30px;
  opacity: 0.2;
  animation: bubble 15s ease-in-out infinite,
    sideWays 4s ease-in-out infinite alternate;
  z-index: 1;
}

@keyframes bubble {
  0% {
    transform: translateY(0%);
    opacity: 0.06;
  }
  100% {
    transform: translateY(-120vh);
  }
}

@keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 200px;
  }
}

.bubble--1 {
  left: 10%;
  animation-delay: 0.5s;
  animation-duration: 16s;
  opacity: 0.2;
}

.bubble--2 {
  width: 15px;
  height: 15px;
  left: 40%;
  animation-delay: 1s;
  animation-duration: 10s;
  opacity: 0.1;
}

.bubble--3 {
  width: 10px;
  height: 10px;
  left: 30%;
  animation-delay: 5s;
  animation-duration: 20s;
  opacity: 0.3;
}

.bubble--4 {
  width: 25px;
  height: 25px;
  left: 40%;
  animation-delay: 8s;
  animation-duration: 17s;
  opacity: 0.2;
}

.bubble--5 {
  width: 30px;
  height: 30px;
  left: 60%;
  animation-delay: 10s;
  animation-duration: 15s;
  opacity: 0.1;
}

.bubble--6 {
  width: 10px;
  height: 10px;
  left: 80%;
  animation-delay: 3s;
  animation-duration: 30s;
  opacity: 0.4;
}

.bubble--7 {
  width: 15px;
  height: 15px;
  left: 90%;
  animation-delay: -7s;
  animation-duration: 25s;
  opacity: 0.3;
}

.bubble--9 {
  width: 20px;
  height: 20px;
  left: 50%;
  bottom: 30px;
  animation-delay: -5s;
  animation-duration: 19s;
  opacity: 0.2;
}

.bubble--10 {
  width: 40px;
  height: 40px;
  left: 30%;
  bottom: 30px;
  animation-delay: -21s;
  animation-duration: 16s;
  opacity: 0.3;
}

.bubble--11 {
  width: 30px;
  height: 30px;
  left: 60%;
  bottom: 30px;
  animation-delay: -13.75s;
  animation-duration: 20s;
  opacity: 0.3;
}

.bubble--11 {
  width: 25px;
  height: 25px;
  left: 90%;
  bottom: 30px;
  animation-delay: -10.5s;
  animation-duration: 19s;
  opacity: 0.3;
}

@media (max-width: 991px) {
  .btn-custom.btn-custom-mobile {
    font-size: 10px;
    padding: 15px 18px;
  }
}

.wave-btn {
  background-color: transparent; /* Base color */
  position: relative;
  overflow: hidden;
  font-family: "gotham-medium";
  font-size: 14px;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  padding: 15px 25px;
  cursor: pointer;
}

.wave-btn:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  width: 300%;
  height: 100%;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 120 30' preserveAspectRatio='none'><path d='M0 20 Q30 0 60 20 T120 20 V30 H0 Z' fill='%23ffffff'/></svg>");
  background-repeat: repeat-x;
  background-size: 60% 100%;
  opacity: 0.4; /* wave opacity */
  transition: transform 0.4s ease;
}

.wave-btn:hover::before {
  animation: wave-move 2s linear infinite;
}

@keyframes wave-move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50%);
  }
}

@layer components {
  .chart-wave-button {
    @apply bg-black relative;
  }

  .chart-wave {
    @apply absolute block w-full h-full bg-white;
    content: "";
    transition: transform 0.5s ease;
    z-index: 1;
  }

  .chart-wave-top {
    @apply top-0 left-0 h-0.5 w-full;
    transform: translateX(-100%);
  }

  .chart-wave-right {
    @apply top-0 right-0 w-0.5 h-full;
    transform: translateY(-100%);
  }

  .chart-wave-bottom {
    @apply bottom-0 right-0 h-0.5 w-full;
    transform: translateX(100%);
  }

  .chart-wave-left {
    @apply bottom-0 left-0 w-0.5 h-full;
    transform: translateY(100%);
  }

  .chart-wave-button:hover .chart-wave-top {
    transform: translateX(0);
    transition-delay: 0s;
  }

  .chart-wave-button:hover .chart-wave-right {
    transform: translateY(0);
    transition-delay: 0.15s;
  }

  .chart-wave-button:hover .chart-wave-bottom {
    transform: translateX(0);
    transition-delay: 0.3s;
  }

  .chart-wave-button:hover .chart-wave-left {
    transform: translateY(0);
    transition-delay: 0.45s;
  }
}

@media (max-width: 430px) {
  .btnrow{
         flex-direction: column;
        align-content: center;
        align-items: center;
        gap: 5px;
        width: 86%;
        margin-left: 25px;
        display: flex; 
}
.btnfirstcol{
  margin-bottom: 0px !important;
}
 .ulmenu{
    padding-bottom: 10px;
  }
  .menuforitems{
    display: none;
  }
}