.floatingbtn {
  position: fixed;
  bottom: 20px;
  width: 50px;
  height: 50px;
  background-color: rgba(105, 207, 240, 1);

  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s;
  z-index: 9999;
}

.floatingbtn:hover {
  transform: scale(1.1);
  background-color: rgb(2, 150, 199);
}

.leftbtn {
  left: 20px;
}

.rightbtn {
  right: 20px;
}

@media (max-width: 600px) {
  .floatingbtn {
    width: 45px;
    height: 45px;
  }
}
